FlightBooking/.vs/FlightBooking/v17/.suo
FlightBooking/.vs/FlightBooking/v17/DocumentLayout.backup.json
FlightBooking/.vs/FlightBooking/v17/DocumentLayout.json
FlightBooking/.vs/ProjectEvaluation/flightbooking.metadata.v9.bin
FlightBooking/.vs/ProjectEvaluation/flightbooking.projects.v9.bin
FlightBooking/.vs/ProjectEvaluation/flightbooking.strings.v9.bin
FlightBooking/FlightBooking/bin/Debug/net8.0/FlightBooking.Model.dll
FlightBooking/FlightBooking/bin/Debug/net8.0/FlightBooking.Model.exe
FlightBooking/FlightBooking/bin/Debug/net8.0/FlightBooking.Model.pdb
FlightBooking/FlightBooking/obj/FlightBooking.Model.csproj.nuget.dgspec.json
FlightBooking/FlightBooking/obj/project.assets.json
FlightBooking/FlightBooking/obj/project.nuget.cache
FlightBooking/FlightBooking/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
FlightBooking/FlightBooking/obj/Debug/net8.0/apphost.exe
FlightBooking/FlightBooking/obj/Debug/net8.0/FlightBooking.Model.AssemblyInfo.cs
FlightBooking/FlightBooking/obj/Debug/net8.0/FlightBooking.Model.AssemblyInfoInputs.cache
FlightBooking/FlightBooking/obj/Debug/net8.0/FlightBooking.Model.assets.cache
FlightBooking/FlightBooking/obj/Debug/net8.0/FlightBooking.Model.csproj.FileListAbsolute.txt
FlightBooking/FlightBooking/obj/Debug/net8.0/FlightBooking.Model.dll
FlightBooking/FlightBooking/obj/Debug/net8.0/FlightBooking.Model.GeneratedMSBuildEditorConfig.editorconfig
FlightBooking/FlightBooking/obj/Debug/net8.0/FlightBooking.Model.genruntimeconfig.cache
FlightBooking/FlightBooking/obj/Debug/net8.0/FlightBooking.Model.pdb
FlightBooking/FlightBooking/obj/Debug/net8.0/FlightBooking.Model.sourcelink.json
FlightBooking/FlightBooking/obj/Debug/net8.0/ref/FlightBooking.Model.dll
FlightBooking/FlightBooking/obj/Debug/net8.0/refint/FlightBooking.Model.dll
FlightBooking/.vs/FlightBooking/DesignTimeBuild/.dtbcache.v2
FlightBooking/.vs/FlightBooking/FileContentIndex/4b5fa610-9ca8-4513-95ea-329aedbe112c.vsidx
FlightBooking/.vs/FlightBooking/v17/.futdcache.v2
